
button {
  width: 100px;
  margin-right: 5px;
  padding: 10px;
  background-color: #808080;
  border-radius: 10px;
  border: 2px solid #a8d3d3;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    color: #75d0d0;
    background-color: #545654;
  }
}