textarea {
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
  //background-color: rgba(166, 166, 166, 0.2);
  border-radius: 5px;
  border: 1px solid #a8d3d3;
  font-size: 20px;
  box-shadow: 2px 2px 8px 4px rgb(34 60 60 / 20%);
}
