.app {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0 25px;
  }
}

.content {
  width: calc(100vw - 540px);
}
