.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "dialogsItems messages"
                        "dialogsItems myMessage";
  background-color: #fff;
  box-shadow: 2px 2px 8px 4px rgba(34, 60, 60, 0.2);
}

.dialogsItems {
  grid-area: dialogsItems;
  padding: 10px;
}

.dialog {
  a {
    color: #0d2626;
  }
}

.dialog.active {
  a {
    color: rgba(47, 79, 79, 0.97);
    font-weight: bold;
  }
}


.messages {
  grid-area: messages;
  padding: 10px;
}

.message {

}